((* extends 'latex/index.tex.j2' *))

((* block docclass *))
\documentclass[11pt,oneside]{report}
((* endblock docclass *))

((* block packages *))
    ((( super() )))
    \usepackage{microtype}
    \usepackage{titlesec}
((* endblock packages *))

((* block margins *))
    \geometry{a4paper,top=1.05in,bottom=1.15in,left=1.05in,right=1.05in}
((* endblock margins *))

((* block commands *))
    ((( super() )))
    \IfFontExistsTF{TeX Gyre Termes}{\setmainfont{TeX Gyre Termes}}{}
    \setlength{\droptitle}{-4.5em}
    \setlength{\parindent}{1em}
    \setlength{\parskip}{0.25em}
    \titlespacing*{\chapter}{0pt}{-0.5em}{1.4em}
    \titlespacing*{\section}{0pt}{2.0ex plus 0.8ex minus 0.2ex}{0.8ex}
    \titlespacing*{\subsection}{0pt}{1.3ex plus 0.5ex minus 0.2ex}{0.5ex}
    \titleformat{\chapter}{\huge\bfseries}{\thechapter}{0.8em}{}
    \titleformat{\section}{\Large\bfseries}{\thesection}{0.7em}{}
    \titleformat{\subsection}{\large\bfseries}{\thesubsection}{0.7em}{}
    \makeatletter
    \let\lapq@section\section
    \let\lapq@subsection\subsection
    \let\lapq@subsubsection\subsubsection
    \renewcommand{\section}{\chapter}
    \renewcommand{\subsection}{\lapq@section}
    \renewcommand{\subsubsection}{\lapq@subsection}
    \makeatother
    \RecustomVerbatimEnvironment{Verbatim}{Verbatim}{fontsize=\footnotesize}
    \renewenvironment{Shaded}
      {\begin{tcolorbox}[
        breakable,
        colback=gray!5,
        colframe=gray!35,
        boxrule=0.35pt,
        arc=1.5pt,
        left=5pt,
        right=5pt,
        top=4pt,
        bottom=4pt
      ]}
      {\end{tcolorbox}}
((* endblock commands *))

((* block date *))
((* if 'date' in nb.metadata *))
\date{((( nb.metadata.date | escape_latex )))}
((* else *))
\date{}
((* endif *))
((* endblock date *))

((* block predoc *))
((* set nb_title = nb.metadata.get('title', '') or resources['metadata']['name'] *))
\begin{titlepage}
    \centering
    \vspace*{0.22\textheight}
    {\Huge\bfseries ((( nb_title | escape_latex )))\par}
    ((* if 'date' in nb.metadata *))
    \vspace{1.5em}
    {\large ((( nb.metadata.date | escape_latex )))\par}
    ((* endif *))
    \vfill
    {\small Generated from \texttt{docs/lapq-lib.ipynb}\par}
\end{titlepage}

((* if nb.metadata.get('abstract') *))
\chapter*{Abstract}
\addcontentsline{toc}{chapter}{Abstract}
((( nb.metadata.abstract | escape_latex )))
\clearpage
((* endif *))

\tableofcontents
\clearpage
((* endblock predoc *))

((* block input_group *))
\begin{tcolorbox}[
  breakable,
  colback=gray!5,
  colframe=gray!35,
  boxrule=0.35pt,
  arc=1.5pt,
  left=5pt,
  right=5pt,
  top=4pt,
  bottom=4pt
]
    ((( cell.source | highlight_code(metadata=cell.metadata) )))
\end{tcolorbox}
((* endblock input_group *))

((* block output_group *))
    ((( super() )))
((* endblock output_group *))
